<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.net>
		<mailSettings>
			<smtp from="webmaster@tgiss.no-ip.org">
				<network host="corpmail001de.conscons.corp"/>
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<authentication mode="Forms">
			<forms name="SqlAuthCookie" timeout="10"/>			
		</authentication>

		<membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="30">
			<providers>
				<clear/>
				<add name="SqlProvider"
					 connectionStringName="DCInfoUserManagement"
					 applicationName="DCInfo"
					 type="System.Web.Security.SqlMembershipProvider"
					 enablePasswordRetrieval="true"
					 enablePasswordReset="true"
					 requiresQuestionAndAnswer="true"
					 requiresUniqueEmail="true"
					 passwordFormat="Encrypted"
					 description="Connection for DCInfo"
					/>
			</providers>
		</membership>

		<roleManager enabled="true" defaultProvider="SqlRoleProvider">
			<providers>
				<clear/>
				<add name="SqlRoleProvider"
					  type="System.Web.Security.SqlRoleProvider"
					  connectionStringName="DCInfoUserManagement"
					  applicationName="DCInfo"
					  description="Connection for DCInfo"
					/>
			</providers>
		</roleManager>

		<profile defaultProvider="SqlProvider">
			<providers>
				<clear/>
				<add name="SqlProvider"
					  type="System.Web.Profile.SqlProfileProvider"
					  connectionStringName="DCInfoUserManagement"
					  applicationName="DCInfo"
					  description="Connection for DCInfo"
					/>
			</providers>
			
			<properties>
				<add name="Company" type="System.String"/>
				<add name="FirstName" type="System.String"/>
				<add name="Initial" type="System.String"/>
				<add name="LastName" type="System.String"/>
				<add name="Street1" type="System.String"/>
				<add name="Street2" type="System.String"/>
				<add name="ZipCode" type="System.String"/>
				<add name="City" type="System.String"/>
				<add name="Country" type="System.String"/>
				
				<add name="LastVisited" type="System.DateTime"/>
				<add name="Age" type="System.Int32"/>

				<group name="MemberDetails">
					<add name="DateJoined" type="System.DateTime"/>
					<add name="PaidDueStatus"/>
				</group>
			</properties>
		</profile>

		<!-- <trace enabled="true" localOnly="false" pageOutput="true" requestLimit="50" /> -->
		<compilation debug="true" targetFramework="4.0" />
		<!-- <customErrors mode="Off" /> -->
		<sessionState mode="InProc" cookieless="UseCookies" regenerateExpiredSessionId="false"/>

		<!-- THIS KEY IS USED FOR ENCRYPTION!-->
		<machineKey
				validationKey="613C807DAFCAABBB884A7D655A7846B43F928FE53A3A8219D31882FE7630711A4BC9CFCA1237D88A01CBEECDD4A4BEEE957736D09F6400A505022DB7089828FF"
				decryptionKey="32B0DA0C83BEAB8A40C6BBED65417EE94B75A38BC9B3D15DA81C56BE6BA277C2"
				validation="SHA1"
				decryption="AES"
			  />
	</system.web>

	<system.webServer>
		<directoryBrowse enabled="true" showFlags="LongDate, Extension, Size, Time, Date"/>
		
		<defaultDocument>
		  <files>
			<clear/>
			<add value="default.aspx"/>
			<add value="index.htm"/>
		  </files>
		</defaultDocument>
		
		<httpErrors errorMode="Detailed"/>
		<!-- <asp scriptErrorSentToBrowser="true" /> -->
		<!-- <asp appAllowClientDebug="true"/> -->
		<!-- <asp appAllowDebugging="true" /> -->
		<!-- <asp calcLineNumber="true" /> -->
	</system.webServer>

	<connectionStrings>
		<add name="DCInfoUserManagement" connectionString="Initial Catalog=DCInfo;data source=10.49.8.4;User ID=aspnetdb;Password=-1U%6gK+;" providerName="System.Data.SqlClient"/>
		<add name="DCInfoDB" connectionString="Data Source=10.48.8.4;Initial Catalog=DCInfo;Persist Security Info=True;Pooling=False;User ID=sa;Password=-8U%6gK+;" providerName="System.Data.SqlClient" />
	</connectionStrings>
		
	<appSettings>
		
		<!-- PIWIK -->
		<add key="PIWIK" value="&lt;!-- Piwik --&gt; &lt;script type=&quot;text/javascript&quot;&gt;var pkBaseURL = ((&quot;https:&quot; == document.location.protocol) ? &quot;https://tgiss.no-ip.org/piwik/&quot; : &quot;http://tgiss.no-ip.org/piwik/&quot;);document.write(unescape(&quot;%3Cscript src='&quot; + pkBaseURL + &quot;piwik.js' type='text/javascript'%3E%3C/script%3E&quot;));&lt;/script&gt;&lt;script type=&quot;text/javascript&quot;&gt;try {var piwikTracker = Piwik.getTracker(pkBaseURL + &quot;piwik.php&quot;, 5);piwikTracker.trackPageView();piwikTracker.enableLinkTracking();} catch( err ) {}&lt;/script&gt;&lt;noscript&gt;&lt;p&gt;&lt;img src=&quot;http://tgiss.no-ip.org/piwik/piwik.php?idsite=5&quot; style=&quot;border:0&quot; alt=&quot;&quot; /&gt;&lt;/p&gt;&lt;/noscript&gt;&lt;!-- End Piwik Tracking Code --&gt;"                 />
		<!-- Google Analytics-->
		<add key="GoogleAnalytics" value=""/>
		<!-- Google Maps Key-->
		<add key="GoogleMapsKey" value="ABQIAAAA3hQbgx4eat55dbXeLIblBBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQHDy2FaZpPb8tfABSZ8vhpEos25Q"/>
		<!-- BING MAP Key -->
		<add key="BingMapKey" value="AkwlNhzw0Yu2IrRyIAuD-huYZJT9HFOtIgBeziOjmoefcVF9-tlbba6ODnbYFmdK"/>
	</appSettings> 
</configuration>